.container-5 {
  margin: 0 auto;
  max-width: 1920px;
  padding: 0;
  background: #f4e6f0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-image: url(../img/ontainer-.png);
  background-repeat: no-repeat;
  background-position: center;
}
.cards {
  display: flex;
  width: 800px;
  overflow: hidden;
}
.card {
  width: 625px;
  height: 785px;
  background: #f4e6f0;
  margin: 135px;
  border: 3px solid #0000002f;
  box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.259);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cards img {
  padding: 36px;
  padding-top: 0;
}
.card h3 {
  font-weight: 600;
  font-size: 50px;
  line-height: 61px;
  letter-spacing: 0.06em;
}
.card h4 {
  font-weight: 500;
  font-size: 35px;
  line-height: 43px;
  letter-spacing: 0.06em;
  color: #9b9b9b;
  margin: 17px auto 55px;
}
.card a {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.06em;
}
.card-title {
  width: 40%;
}
.card-title h1 {
  font-weight: 700;
  font-size: 55px;
  line-height: 67px;
  padding: 10px;
  letter-spacing: 0.06em;
}
.card-title p {
  font-weight: 500;
  font-size: 26px;
  line-height: 32px;
  padding: 10px;
  color: #646464;
}

@media only screen and (min-device-width: 765px) and (max-device-width: 1850px) {
  .container-5 {
    max-width: 968px;
    padding: 0px;
    display: flex;
    flex-direction: column-reverse;
  }

  .cards {
    width: 100%;
    flex-shrink: 0;
    overflow-x: scroll;
  }
  .cards::-webkit-scrollbar {
    display: none;
  }
  .card {
    width: 408px;
    height: 512px;
    margin: 90px 75px;
  }
  .card img {
    width: 358px;
  }
  .card h3 {
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    letter-spacing: 0.06em;
  }
  .card h4 {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.06em;
    color: #9b9b9b;
  }
  .card a {
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.06em;
  }
  .card-title {
    width: 80%;
  }
  .card-title h1 {
    font-weight: 700;
    text-align: center;
    font-size: 45px;
    line-height: 55px;
    letter-spacing: 0.06em;
    margin: 78px auto 30px;
  }
  .card-title p {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #9b9b9b;
  }
}
@media only screen and (max-width: 764px) {
  .container-5 {
    background-image: none;
    padding: 0 14px;
    max-width: 360px;
    margin: 0 auto;
    flex-direction: column;
  }
  .cards {
    width: 100%;
    flex-shrink: 0;
    overflow-x: scroll;
  }
  .cards::-webkit-scrollbar {
    display: none;
  }
  .card {
    width: 284px;
    height: 357px;
    margin: 90px 75px;
  }
  .card img {
    width: 205px;
  }
  .card h3 {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.06em;
  }
  .card h4 {
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.06em;
    color: #9b9b9b;
  }
  .card a {
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.06em;
  }
  .card-title {
    width: 80%;
  }
  .card-title h1 {
    font-weight: 700;
    text-align: center;
    font-size: 30px;
    line-height: 37px;
    letter-spacing: 0.06em;
    margin: 47px auto 45px;
  }
  .card-title p {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #9b9b9b;
  }
}
