.container {
  background-color: #8f0366;
}

.header-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;

  p {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #dbdbdb;
  }
}

.btn {
  display: flex;
  gap: 46px;
  margin: 15px 0;
  button {
    background-color: transparent;
    border: none;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    color: #fff;
  }
}

.icons {
  display: flex;
  gap: 55px;
  a {
    color: white;
  }
}
// header-2
.header-pic {
  display: none;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav a {
  font-weight: 600;
  font-size: 35px;
  line-height: 43px;
}
.nav a:nth-child(3) {
  font-family: "Rochester";
  font-style: normal;
  font-weight: 400;
  font-size: 75px;
  line-height: 97px;
  color: #d40597;
}
.container:nth-child(2) {
  background-color: #ffdcf5;
}
input{
  display: none;
}
label{
  display: none;
}

@media only screen and (min-device-width: 765px) and (max-device-width: 1850px) {
  /* Styles */
  .container {
    max-width: 968px;
    padding: 0 44px;
    margin: 0 auto;
  }

  .header-1 {
    p {
      font-weight: 500;
      font-size: 14px;
    }
  }

  .icons {
    gap: 28px;
    margin: 19px 0;
  }
  .nav a {
    font-weight: 600;
    font-size: 25px;
    line-height: 38px;
  }

  .btn {
    display: none;
  }

  .text-moroz {
    display: none;
  }
  .header-pic {
    display: block;
  }
}
@media only screen and (max-width: 764px) {
  /* Styles */
  .container {
    max-width: 360px;
    padding: 0 14px;
    margin: 0 auto;
  }
  .header-1{
    display: none;
  }
  .header-2{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav-a {
   display: none;
  }
  .text-moroz{
    display: none;
  }
  .header-pic{
    display: block;
    width: 54px;
  }
  label{
    display: flex;
    justify-self: flex-end; 
  }
}