.intro {
  padding: 120px 0;
}
.intro h1 {
  font-weight: 700;
  font-size: 95px;
  line-height: 116px;
  color: #ffffff;
  max-width: 674px;
}
.intro p {
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  max-width: 573px;
  color: #ffffff;
}
.main-btn {
  display: none;
}
.container-intro {
  margin: 0 auto;
  max-width: 1920px;
  padding: 0 200px;
  background-image: url(../img/Vector.svg);
  background-color: #77215d;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}
@media only screen and (max-width: 764px) {
  .container-intro {
    background-image: none;
    padding: 0 14px;
    max-width: 360px;
    margin: 0 auto;
    background-image: url(../img/Layer1.png);
  }
  .container-intro img {
    display: none;
    background-size: cover;
  }
  .intro h1 {
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    color: #000000;
    width: 214px;
  }
  .intro p {
    display: none;
  }
  .main-btn {
    display: inline-block;
    margin-top: 15px;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    padding: 5px 15px;
    border: 2px solid #8f0366;
    border-radius: 56px;
    letter-spacing: 0.06em;
  }
  .intro h1::after {
    content: "";
    display: block;
    height: 3px;
    width: 80px;
    background-color: #77215d;
    margin-top: 20px;
  }
}

@media only screen and (min-device-width: 765px) and (max-device-width: 1850px) {
  .container-intro {
    max-width: 968px;
    padding: 0;
    flex-direction: column;
    align-items: center;
  }

  .container-intro img {
    width: 600px;
  }
  .intro {
    padding: 150px 0 40px;
  }
  .intro h1 {
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
    text-align: center;
    width: 407px;
    margin: 0 auto;
  }
  .intro p {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #d2d2d2;
    margin: 0 auto;
  }
  .main-btn {
    display: none;
  }
}
