.container-manicure {
  padding: 0;
  display: flex;
  justify-content: space-between;
}
.manicure {
  display: flex;
  justify-content: center;
  
  flex-wrap: wrap;
  gap: 98px;
  margin: 67px 0;
  background-image: url(../img/Frame.png);
  background-repeat: no-repeat;
  background-position: center;
}
.manicure-box {
  width: 277px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 17px;
}
.manicure-box:nth-child(4) {
  display: none;
}
.manicure-box h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.12em;
  color: #ffffff;
}
.manicure-box p {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  text-align: center;
}
@media only screen and (min-device-width: 765px) and (max-device-width: 1850px) {
  .manicure-box:nth-child(4) {
    display: flex;
  }
  .manicure-img {
    display: none;
  }
  .manicure-box p {
    size: 14px;
  }
}
@media only screen and (max-width: 764px) {
  .manicure {
    background-image: none;
    align-items: center;
  }
  .container-manicure{
    margin-top: 70px;
  }
  .manicure-img {
    display: none;
  }
  .manicure-box:nth-child(4) {
    display: flex;
  }
  .manicure-box p {
    size: 14px;
  }
}
