 *::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Fraunces";
}
a {
  text-decoration: none;
  color: black;
}
li {
  list-style: none;
}
.container {
  max-width: 1440px;
  padding: 0 80px;
  margin: 0 auto;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Barlow";
  margin-top: 15px;
  max-width: 1280px;

  & nav {
    display: flex;
    gap: 32px;
    a {
      font-weight: 700;
      font-size: 12px;
      line-height: 15px;
      letter-spacing: 0.923077px;
      text-transform: uppercase;
      color: #333d4b;
      &:hover {
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.923077px;
        text-transform: uppercase;
        color: black;
      }
    }
  }
}

.intro {
  background-image: url(../img/Bitmap.jpg);
  background-size: cover;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1280px;
  height: 620px;
  margin: 20px auto;
  h1 {
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #fefcf7;
    width: 493px;
    margin: 0;
    margin-bottom: 32px;
  }
  p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #fefcf7;
    mix-blend-mode: normal;
    opacity: 0.8;
    width: 445px;
    margin: 0;
    margin-bottom: 72px;
  }
}
.about__intro {
  background-image: url(../img/aboutintro.jpg);
}
.plan__intro {
  background-image: url(../img/creat.jpg);
}
.intro-btn {
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #fefcf7;
  background: #0e8784;
  border-radius: 6px;
  width: fit-content;
  padding: 15px 30px;
  border: none;
  &:hover {
    background: #66d2cf;
    transition: 0.5s ease-in-out;
  }
}

.collection {
  img {
    display: block;
    margin: 0 auto;
  }
}
.images {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: -80px;
  img {
    width: 256px;
    height: 193px;
    margin: 0;
  }
}
.collection__boxes {
  display: flex;
  justify-content: center;
  gap: 30px;
  li {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 255px;
    h2 {
      font-weight: 900;
      font-size: 24px;
      line-height: 32px;
      text-align: center;
      color: #333d4b;
      margin: 0;
    }
    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      text-align: center;
      color: #333d4b;
      margin: 0;
    }
  }
}

.choosing {
  background: #333d4b;
  border-radius: 10px;
  height: 577px;
  width: 1280px;
  margin-top: 190px;
  h1 {
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #fefcf7;
    padding: 100px 0 30px 0;
    margin: 0;
  }
  p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #fefcf7;
    mix-blend-mode: normal;
    opacity: 0.8;
    width: 540px;
    margin: 0 auto;
  }
}

.choosing__boxes {
  display: flex;
  justify-content: center;
  gap: 30px;
  div {
    background: #0e8784;
    border-radius: 8px;
    width: 350px;
    height: 382px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 86px;
    img {
      margin: 60px 139px;
    }
    h3 {
      font-weight: 900;
      font-size: 24px;
      line-height: 32px;
      text-align: center;
      color: #fefcf7;
    }
    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      width: 255px;

      text-align: center;

      color: #fefcf7;
    }
  }
}
.how__work {
  h3 {
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    margin-top: 350px;
    color: #83888f;
  }
  .liner {
    display: flex;
    align-items: center;
    .circle {
      height: 31px;
      width: 31px;
      border-radius: 50%;
      background: transparent;
      border: 2px solid #0e8784;
      z-index: 999;
    }
    .line {
      width: 365px;
      height: 4px;
      background-color: #fdd6ba;
      margin: 0 -18px;
    }
  }
  .how__work-boxes {
    display: flex;
    gap: 95px;
    margin-bottom: 65px;
    .how__work-box {
      h1 {
        font-weight: 900;
        font-size: 72px;
        line-height: 72px;
        color: #fdd6ba;
      }
      h2 {
        font-weight: 900;
        font-size: 32px;
        line-height: 36px;
        color: #333d4b;
      }
      p {
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: #333d4b;
        width: 285px;
      }
    }
  }
}




.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1280px;
  height: 120px;
  border-radius: 8px;
  background: #2c343e;
  margin-top: 200px;
  margin-bottom: 0;
  ul {
    display: flex;
    gap: 32px;
    flex-grow: 1;
    padding: 100px;
    a {
      font-weight: 700;
      font-size: 12px;
      line-height: 15px;
      letter-spacing: 0.923077px;
      text-transform: uppercase;
      color: #83888f;
      &:hover {
        color: #fefcf7;
      }
    }
  }
}
.contacts {
  display: flex;
  gap: 25px;
  a {
    color: white;
    &:hover{
      color: #FDD6BA;
    }
  }
}

// about section
.committed {
  display: flex;
  justify-content: space-around;
  margin: 140px auto;
  img {
    width: 385px;
    height: 456px;
    border-radius: 15px;
  }
  &__text {
    h1 {
      font-weight: 900;
      font-size: 40px;
      line-height: 48px;
      color: #333d4b;
    }
    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      color: #333d4b;
      width: 540px;
      mix-blend-mode: normal;
      opacity: 0.8;
      width: 540px;
    }
  }
}
// quality
.quality {
  display: flex;
  justify-content: space-around;
  height: 474px;
  background: rgba(44, 52, 62, 1);
  border-radius: 10px;
  img {
    border-radius: 10px;
    margin: -80px 50px 80px 50px;
  }
  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1 {
      font-weight: 900;
      font-size: 40px;
      line-height: 48px;
      color: #fefcf7;
    }
    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      color: #fefcf7;
      mix-blend-mode: normal;
      opacity: 0.8;
      width: 540px;
    }
  }
}

// plan
.plan__work {
  background: rgba(44, 52, 62, 1);
  border-radius: 10px;
  width: 1280px;
  height: 420px;
  padding: 110px 80px;
  margin: 100px auto 50px;
  .how__work-boxes {
    .how__work-box {
      h1 {
        color: #fdd6ba;
      }
      h2 {
        color: #ffffff;
        width: 200px;
      }
      p {
        color: #ffffff;
      }
    }
  }
}
.sell {
  display: flex;
  justify-content: space-around;

  &__bar {
    li {
      display: flex;
      gap: 15px;
      border-bottom: 1px solid #83888f5a;
      width: 215px;
      &:hover {
        h1 {
          color: #333d4b4b;
        }
      }
      h1 {
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        color: #333d4b;
      }
    }
  }
  .sell__section {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 780px;
    .sel__title {
      display: flex;
      justify-content: space-between;
      padding: 0 20px;
      h1 {
        font-weight: 900;
        font-size: 40px;
        line-height: 48px;
        color: #83888f;
      }
      .sel {
        width: fit-content;
        background-color: transparent;
        border: none;
        cursor: pointer;
      }
    }
    .sel__section-boxes {
      display: flex;
      gap: 14px;
      .sell-box {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 25px;
        width: 228px;
        height: 200px;
        padding: 30px;
        background: rgba(244, 241, 235, 1);
        border-radius: 9px;
        h1 {
          font-weight: 900;
          font-size: 24px;
          line-height: 32px;
          color: #333d4b;
          margin: 0;
          margin-top: 10px;
        }
        p {
          margin: 0;
          font-weight: 400;
          font-size: 16px;
          line-height: 26px;
          color: #333d4b;
        }
        label {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
        }
        &:hover {
          background: rgba(253, 214, 186, 1);
        }
      }
      input {
        appearance: none;
      }
      input:checked + .sell-box {
        background-color: #0e8784;
        h1 {
          color: white;
        }
        p {
          color: white;
        }
      }
    }
  }
}
.sell__information {
  background-color: #2c343e;
  border-radius: 10px;
  padding: 31px 64px;
  width: 630px;
  display: flex;
  flex-direction: column;
  margin: 84px 0;
  gap: 10px;
  h5 {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-transform: uppercase;
    color: #ffffff;
    mix-blend-mode: normal;
    opacity: 0.5;
    margin: 0;
  }
  P {
    font-weight: 900;
    font-size: 24px;
    line-height: 40px;
    color: #ffffff;
    margin: 0;
  }
}
.sel__sections {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}


@import "responsive"